<svg id="squawk" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.30188 97.000295" height="366.615" width="537.834">
  <g id="rightWing">
    <path [attr.d]="squawkService.pathsRightWing[0]" />
    <path [attr.d]="squawkService.pathsRightWing[1]" />
  </g>
  <g id="leftWing">
    <path [attr.d]="squawkService.pathsLeftWing[0]" />
    <path [attr.d]="squawkService.pathsLeftWing[1]" />
  </g>
  <g id="rightFoot">
    <path [attr.d]="squawkService.pathsRightFoot[0]" />
    <path [attr.d]="squawkService.pathsRightFoot[1]" />
  </g>
  <g id="leftFoot">
    <path [attr.d]="squawkService.pathsLeftFoot[0]" />
    <path [attr.d]="squawkService.pathsLeftFoot[1]" />
  </g>
  <path id="pathBody" [attr.d]="squawkService.pathBody" />
  <path id="pathRightEye" [attr.d]="squawkService.pathRightEye" />
  <path id="pathRightPupil" [attr.d]="squawkService.pathRightPupil" />
  <path id="pathLeftEye" [attr.d]="squawkService.pathLeftEye" />
  <path id="pathLeftPupil" [attr.d]="squawkService.pathLeftPupil" />
  <path id="pathEyebrow" [attr.d]="squawkService.pathEyebrow" />
  <path id="pathBeak" [attr.d]="squawkService.pathBeak" />
</svg>