@import "../../globalstyles.scss";

// * {
//     border: 1px solid red;
// }

.la-container {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1.5fr 1fr 2fr 4fr 1.5fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "fillerL menu booby content fillerR"
                         "fillerL menu booby content fillerR";
    position: relative;
}

.area {
    transition: opacity 300ms ease-in-out;
}

.menu {
    grid-area: menu;
    z-index: 10;
    align-self: end;
    justify-self: right;
}

.about-site {
    grid-column-start: menu-start;
    grid-column-end: booby-end;
    grid-row: 1;
    z-index: 12;
}

.appmenu {
    display: inline-block;
    bottom: 0;
}

.booby {
    grid-area: booby;
    align-self: end;
    justify-self: center;
}

.content {
    grid-area: content;
    width: 38vw;
    overflow: hidden;
}

.fillerL {
    grid-area: fillerL;
}

.fillerR {
    grid-area: fillerR;
}

