<nav class="menu">
  <ul class="menu-list">
    <li class="menu-item" *ngFor="let menuItem of menuItems" [@itemFlyout]="menuItem.menuItemState">
      <!-- if item has an href, use href -->
      <a 
        *ngIf="menuItem.href; else aRouterLink" 
        [href]="disableMenu ? null : menuItem.href" 
        [ngStyle]="{'cursor': disableMenu ? 'default' : 'pointer'}"
        (click)="onAboutSiteOpen()">{{menuItem.text}}</a>
      <!-- otherwise, use routerLink -->
      <ng-template #aRouterLink>
        <a
        [ngStyle]="{'cursor': disableMenu ? 'default' : 'pointer'}"
        [routerLink]="disableMenu ? null : menuItem.routerLink" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact:true}">{{menuItem.text}}</a>
      </ng-template>
    </li>
    <li class="egg" (mouseenter)="displayMenuItems()" [ngStyle]="{'cursor': menuItemsVisible ? 'default' : 'pointer'}">
      <app-egg></app-egg>
    </li>
  </ul>
</nav>