@import "../../globalstyles.scss";

* {
    white-space: nowrap;
}

// #aboutsite {
//     opacity: 0;
//     transition: opacity 300ms ease-in-out;
// }

// .popup {
//     width: 118%;
//     text-align: left;
//     background-color:white;
//     position: relative;
//     padding: 0.6rem 0.5rem 0.1rem 1rem;
//     border: 0.3rem solid $wingcolor;
//     border-radius: 0.5rem;
//     z-index: 24;
//     margin-bottom: 1rem;
// }

// .x {
//     position: relative;
//     float: right;
//     top: -0.5rem;
//     font-size: 1.5rem;
// }

ul .menu-list {
    text-align: center;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    font-size: 0.9em;
    overflow: hidden;
}

li.menu-item:before {
    content: none;
}

.egg {
    font-size: 0;
    z-index: 20;
    padding: 0.5rem 0.05rem 0 0.05rem;
    margin: 0 0.5rem 0 0.5rem;
}

// .menu:hover li.item {
//     animation-name: menufly;
//     animation-duration: 1s;
//     animation-timing-function: ease-in;
//     animation-fill-mode: forwards;
// }

// @keyframes menufly {
//     50% {transform: translateY(350%); font-size: 0.3em; opacity: 0.5}
//     100% {transform: translateY(0); font-size: 0.9em; opacity: 1}
// }

// li:nth-child(2) {
//     animation-delay: 0s;
// }

// li:nth-child(3) {
//     animation-delay: 0.15s;
// }

// li:nth-child(4) {
//     animation-delay: 0.3s;
// }

// li:nth-child(5) {
//     animation-delay: 0.45s;
// }

// li:nth-child(6) {
//     animation-delay: 0.6s;
// }
