* {
    text-align: center;
    white-space: nowrap;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    cursor: pointer;
    // overflow: hidden;
}

li:nth-child(n+2) {
    order: -1;
}

li {
    font-size: 0.9em;
    transform: translateY(700%);
}

.egg {
    transform: translateX(50px);
}