@import "../../globalstyles.scss";

* {
    white-space: nowrap;
    // border: solid 1px red;
}

.popup {
    background-color:rgba(255, 255, 255, 0.5);
    position: relative;
    padding: 0.6rem 0.5rem 0.1rem 1rem;
    border: 0.3rem solid $wingcolor;
    border-radius: 0.5rem;
}

.x {
    position: relative;
    float: right;
    top: -0.5rem;
    font-size: 1.5rem;
}
