<svg id="boobyLanding" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.041389 81.069422" height="306.404" width="151.338">
  <g stroke="#000">
    <!-- <path id="body" class="body" [attr.d]="boobyLandingService.pathsBody[0]" fill="#fff" fill-rule="evenodd" stroke-width=".265"/> -->
    <path id="body"/>
    <path id="rightWing"/>
    <path id="leftWing"/>
    <path id="rightEye"/>
    <path id="rightPupil"/>
    <path id="leftEye"/>
    <path id="leftPupil"/>
    <path id="beak"/>
    <path id="eyebrow"/>
  </g>
</svg>
