<svg id="egg" xmlns="http://www.w3.org/2000/svg" width="58.891" height="29.742" viewBox="0 0 15.581668 7.8693646" (mouseenter)="crackEgg()" (mouseleave)="fixEgg()">
  <g id="whole" opacity="1">
    <path id="pathEgg" [attr.d]="eggService.pathEgg"/>
    <path id="pathLineTop" [attr.d]="eggService.pathsLines[0]" />
    <path id="pathLineMiddle" [attr.d]="eggService.pathsLines[1]" />
    <path id="pathLineBottom" [attr.d]="eggService.pathsLines[2]" />
  </g>
  <g id="rightHalf" opacity="0">
    <path id="pathEggRight" [attr.d]="eggService.pathEggRight"/>
    <path id="pathLineTopRight" [attr.d]="eggService.pathsLinesRight[0]" />
    <path id="pathLineMiddleRight" [attr.d]="eggService.pathsLinesRight[1]" />
    <path id="pathLineBottomRight" [attr.d]="eggService.pathsLinesRight[2]" />
  </g>
  <g id="leftHalf" opacity="0">
    <path id="pathEggLeft" [attr.d]="eggService.pathEggLeft"/>
    <path id="pathLineTopLeft" [attr.d]="eggService.pathsLinesLeft[0]" />
    <path id="pathLineMiddleLeft" [attr.d]="eggService.pathsLinesLeft[1]" />
    <path id="pathLineBottomLeft" [attr.d]="eggService.pathsLinesLeft[2]" />
  </g>
</svg>
