/* You can add global styles to this file, and also import other style files */
$text-color: #282820;
$hover-color: $text-color;
$background-color: #f7f5ea;

* {
    margin: 0;
    padding: 0;
    font-family: 'Overlock', sans-serif;
    color: $text-color;
    border: solid 1px red;
}

body,html{
    width:100%;
    height: 90%;
    background-color: $background-color;
}

body {
    padding-top: 2rem;
}

a {
    color: $hover-color;
}

a:hover, a.active {
    background-color: transparent;
    text-decoration: none;
    font-weight: 700;
    color: $hover-color;
}

