<div class="la-container">
  <div class="column-filler"></div>
  <div class="column-menu">
    <app-menu (aboutSiteVisibilityEvent)="dim = $event" [ngClass]="'appmenu'" [dimMenu]="dim"></app-menu>
  </div>
  <div class="column-booby" [ngStyle]="{'opacity': dim ? 0.3 : 1}">
    <app-booby-landing></app-booby-landing>
  </div>
  <div class="column-content" [ngStyle]="{'opacity': dim ? 0.3 : 1}">
    <h2 id="hello">Hello...!</h2>
    <p id="myname">My name is
      <b>Limor&nbsp;Agam</b>.</p>
    <p id="iam">I am an experienced software engineer and graphic designer, seaking new horizon in UX and Front End/Web development.</p>
    <ul>
      <li id="hire">
        <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Hire me?</a>
      </li>
      <li id="gettoknow">
        <a routerLink="/about_me" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Get to know me?</a>
      </li>
      <li id="feet">
        <a routerLink="/feet" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">See my feet?</a>
      </li>
    </ul>
  </div>
  <div class="column-filler"></div>
</div>
